@font-face {
    font-family: "iconfont";
    src: url("../assets/fonts/iconfont/iconfont.eot"); /* IE9 */
    src: url("../assets/fonts/iconfont/iconfont.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../assets/fonts/iconfont/iconfont.woff") format("woff"), /* chrome, firefox */
    url("../assets/fonts/iconfont/iconfont.ttf") format("truetype"); /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    font-style: normal;
    font-weight: normal;
}


// 比较大 是文件引用
@font-face {
    font-family: "ionicons";
    src: url("../assets/fonts/ionicons/ionicons.eot"); /* IE9 */
    src: url("../assets/fonts/ionicons/ionicons.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../assets/fonts/ionicons/ionicons.woff") format("woff"), /* chrome, firefox */
    url("../assets/fonts/ionicons/ionicons.ttf") format("truetype"); /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    font-style: normal;
    font-weight: normal;
}


body {
    padding: 40px;
}

.iconfont {
    font-family:"iconfont" !important;
    font-size:16px;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}